html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
}

#top {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
}



#main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4em;
    width: 100%;
}

#board {
    width: 300px;
    height: 300px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.squares {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    border-width: 1px;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
    font-size: 60px;
}

.squares:hover {
    background-color: gainsboro;
}

#square0 {
    border-left: 0;
    border-top: 0;
}
#square1 {
    border-top: 0;
}
#square2 {
    border-right: 0;
    border-top: 0;
}
#square3 {
    border-left: 0;
}
#square5 {
    border-right: 0;
}
#square6 {
    border-left: 0;
    border-bottom: 0;
}
#square7 {
    border-bottom: 0;
}
#square8 {
    border-right: 0;
    border-bottom: 0;
}